root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a4f54;
    background-color: #dfecf1;
    font-size: small;
}

a {
    color: #e33b06;
}

table {
    empty-cells: show;
}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    color: #4e6a71;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #90b4bd;
    border-right-color: #90b4bd;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #b2d5d6;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #b2d5d6;
    border-right-color: #b2d5d6;
    vertical-align: baseline;
    padding-bottom: 0px;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}

.fieldNameHigh3Cols{
    background-color: #99ff99;
    width: 21%;
    color: #000000;
    float: left;
    margin: 2px;
    padding: 2px;
    /*font-size: large;*/
}

.fieldValueHigh3Cols{
    background-color: #99ff99;
    width: 47%;
    color: #000000;
    float: right;
    margin: 2px;
    padding: 2px;
}

.fieldName2Cols{
    width: 30%;
    float: left;
    border: solid 1px;
    margin: 2px;
    padding: 2px
}

.fieldValue2Cols{
    width: 64%;
    float: right;
    border: solid 1px;
    margin: 2px;
    padding: 2px
}

.fieldName3Cols{
    width: 30%;
    float: left;
    border: solid 1px;
    margin: 2px;
    padding: 2px
}

.fieldOption3Cols{
    width: 12%;
    float: left;
    border: solid 1px;
    margin: 2px 2px 2px 4px;
    padding: 2px
}

.fieldValue3Cols{
    width: 51%;
    float: right;
    border: solid 1px;
    margin: 2px;
    padding: 2px
}

/*COEC styles*/

.firstColumnCoec{
    width: 20%;
    float: left;
    padding: 10px 2px 2px 2px;
    height: 25px;
}

.secondColumnCoec{
    width: 35%;
    float: left;
    padding: 10px 2px 2px 2px;
    height: 25px;
}

.thirdColumnCoec{
    width: 42%;
    float: right;
    padding: 10px 2px 2px 2px;
    height: 25px;
}

.employeeDetailsCOEC{
    width: 650px; 
    height: 150px;
    /*position: relative;*/
}

.positionDetailsCOEC{
    width: 650px; 
    height: 340px;
    /*position: relative;*/
}

/*********************/

.inputTextAreaName2Cols{
    width: 30%;
    height: 30px;
    float: left;
    padding-top: 12px
}

.inputFieldName2Cols{
    width: 30%;
    height: 20px;
    float: left;
}

.inputTextValue2Cols{
    width: 70%;
    height: 60px;
    float: left;
    margin: 0px;
}

.inputFieldName3Cols{
    width: 30%;
    height: 20px;
    float: left;
}

.inputFieldValue3Cols{
    width: 33%;
    height: 20px;
    float: left;
    margin: 0px;
}

.inputFieldMessage3Cols{
    width: 35%;
    height: 20px;
    float: right;
}

.inputFieldName4Cols{
    width: 30%;
    height: 20px;
    float: left;
    height: 23px; 
    padding-top: 6px
}

.optionValue4Cols{
    width: 15%;
    float: left;
}

.inputFieldValue4Cols{
    width: 33%;
    float: left;
    margin: 0px;
    height: 29px;
}

.inputFieldMessage4Cols{
    width: 22%;
    float: left;
    height: 29px; 
}


.fieldValueRight2Cols{
    width: 64%;
    float: right;
    border: solid 1px;
    margin: 2px;
    padding: 2px;
    text-align: right;
}
.fieldNameHigh2Cols{
    background-color: #99ff99;
    width: 30%;
    color: #000000;
    float: left;
    margin: 2px;
    padding: 2px;
    /*font-size: large;*/
}

.fieldValueHigh2Cols{
    background-color: #99ff99;
    width: 66%;
    color: #000000;
    float: left;
    margin: 2px;
    padding: 2px;
}

.photoBox{
    width: 25%;
    height: 100px;
    border: solid 1px #000000;
    margin: 5px;
    float: left;
}

#personalData{
    /*width: 300px;*/
}

.panelPersonalData{
    width: 400px; 
    height: 370px;
    /*position: relative;*/
}

.panelPositionData{
    width: 400px; 
    height: 180px;
    /*position: relative;*/
}

.panelPayrollData{
    width: 400px; 
    height: 130px;
    /*position: relative;*/
}

.panelEarningData{
    width: 400px; 
    height: 260px;
    /*position: relative;*/
}

.panelPoliceCheckData{
    width: 400px; 
    height: 165px;
    /*position: relative;*/
}

.policeCheckDetailComment{
    width: 400px; 
    height: 180px;
    /*position: relative;*/
}

.policeCheckDetailView{
    width: 500px; 
    height: 275px;
    /*position: relative;*/
}

.policeCheckDetailEdit{
    width: 500px; 
    height: 335px;
    /*position: relative;*/
}

.viewPoliceCheckDetail{
    width: 500px; 
    height: 150px;
    /*position: relative;*/
}

.editPoliceCheckDetail{
    width: 500px; 
    height: 150px;
    /*position: relative;*/
}

.policeCheckDetailEditMulti{
    width: 500px; 
    height: 250px;
    /*position: relative;*/
}
.multiPoliceCheckComments{
    width: 500px; 
    height: 100px;
    /*position: relative;*/
}

.panelLeaveData{
    width: 400px; 
    height: 200px;
    /*position: relative;*/
}

.panelEarningSummaryData{
    /* TO DO chage width to 400 depending on screen width > 1400 */
    width: 400px; 
    height: 335px;
    /*position: relative;*/
}

.panelStructureData{
    width: 400px; 
    height: 130px;
    /*position: relative;*/
}

.panelVisaData{
    width: 400px; 
    height: 200px;
    /*position: relative;*/
}

.prmDetails{
    width: 430px; 
    height: 300px;
    /*position: relative;*/
}

#board{
    /*width: 30%;*/
}

#Terminated{
    background-color: red;
    color: white;
}

#Active{
    background-color: green;
    color: black;
} 

/*.ui-dashboard-column:nth-child(1) {
  width: 400px;
  height: 200px;
}*/
.rowHeader{
    text-align:center; 
    width: 100%; 
    font-weight: bold;
}

.policeChecksTable{
/*    width: 1400px;*/
    /*height: 450%;*/
}

#ui-datepicker-div {   
    z-index: 9999 !important;   
}

#tabViewMain{
    height: 100%;
}

#mainBody{
/*    width: 10%*/
}

.Expired{
    background-color: red;
    color: white;
}

.Due{
    background-color: gold;
    color: black;
}