root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a4f54;
    background-color: #dfecf1;
    font-size: small;
}

a {
    color: #e33b06;
}

table {
    empty-cells: show;
}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    color: #4e6a71;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #90b4bd;
    border-right-color: #90b4bd;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #b2d5d6;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #b2d5d6;
    border-right-color: #b2d5d6;
    vertical-align: baseline;
    padding-bottom: 0px;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}

.rowHIName{
    background-color: #99ff99;
    width: 21%;
    color: #000000;
    float: left;
    margin-top: 5px;
    /*font-size: large;*/
}

.rowHIValue{
    background-color: #99ff99;
    width: 50%;
    color: #000000;
    float: right;
    margin-top: 5px;
}

.rowLOName{
    width: 30%;
    float: left;
    border: solid 1px;
}

.rowLOValue{
    width: 68%;
    float: right;
    border: solid 1px;
    margin: 0px;
}

.rowHIName2{
    background-color: #99ff99;
    width: 40%;
    color: #000000;
    float: left;
    margin-top: 5px;
    /*font-size: large;*/
}

.rowHIValue2{
    background-color: #99ff99;
    width: 60%;
    color: #000000;
    float: left;
    margin-top: 5px;
}

.photoBox{
    width: 25%;
    height: 100px;
    border: solid 1px #000000;
    margin: 5px;
    float: left;
}

.panelPersonalData{
    width: 400px; 
    height: 300px;
    /*position: relative;*/
}

.panelPositionData{
    width: 400px; 
    height: 150px;
    /*position: relative;*/
}

.panelPayrollData{
    width: 400px; 
    height: 120px;
    /*position: relative;*/
}

.panelEarningData{
    width: 400px; 
    height: 240px;
    /*position: relative;*/
}

.panelPoliceCheckData{
    width: 400px; 
    height: 200px;
    /*position: relative;*/
}

.panelLeaveData{
    width: 400px; 
    height: 110px;
    /*position: relative;*/
}

.panelEarningSummaryData{
    width: 350px; 
    height: 260px;
    /*position: relative;*/
}

.panelStructureData{
    width: 350px; 
    height: 120px;
    /*position: relative;*/
}

.panelVisaData{
    width: 350px; 
    height: 200px;
    /*position: relative;*/
}

#board{
    /*width: 200%;*/
}

#Terminated{
    background-color: red;
    color: white;
}

#Active{
    background-color: green;
    color: black;
} 

/*.ui-dashboard-column:nth-child(1) {
  width: 400px;
  height: 200px;
}*/
.rowHeader{
    text-align:center; 
    width: 100%; 
    font-weight: bold;
}